<div class="row">
  <div class="col-sm-12">
    <h1>EngPic, Dictionary ONLY FOR YOU</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>「英単語を覚えられない...」、そんなあなたに！</h2>
    <p>
      それは<b>「単語＝意味」</b>として覚えようとしているからです。<br>
      活字しかない本の中身を覚えようとするのは、難しいですよね。<br>
      だからこそ、<b>「単語＝意味＋イメージ」</b>とすることで、<br>
      より印象深く記憶に刻むことができます。
    </p>
    <h2>写真を撮って、書くだけ！</h2>
    <p>
      単語を覚えるのに、ノートに書いたり、単語カードを使ったりしますよね。<br>
      でも、書いて終わったり、そもそも紙を開けてペンを探すのがめんどくさかったり...<br>
      ですが、EngPicなら<b>写真を撮って、意味を添えるだけ</b>で、マイ辞書が作られていきます！<br>
      SNSに投稿するかのように、英語の勉強が出来ます！
    </p>
    <h2>複数のイメージでより多角的にインプット！</h2>
    <p>
      例えばですが、<b>「<i>doll</i>」</b>と聞くと、何を思い浮かばれるでしょうか。
      意味は「人形」ですが、一口に人形といっても、「着せ替え人形」、「和人形」、「もふもふとしたぬいぐるみ」と、<br>
      思い浮かべるものはこれまでの<b>経験次第</b>で人によって異なります。<br>
      だからこそ、一つの単語に一つの意味、一つのイメージ、ではなく、<br>
      複数のイメージをもって、意味の認識を深めていきます！
      自分のイメージに加え、他の人のイメージを自分の辞書に加えていき、理解を豊かにしましょう！
    </p>
    <h2>テスト機能つき！</h2>
    <p>
      自分の辞書を増やしていくだけで満足してはいけません。<br>
      それを自分のものにして使えるようにするまでが勉強です。<br>
      マイ辞書から単語をピックアップし、理解度を深めるテスト機能もございます。
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="bg-info" style="height: 300px;">Image Here</div>
  </div>
</div>