<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">使用方法</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3>1. 写真を撮る</h3>
    <h3>2. 意味とタグを添える（文章もつけるとより効果的です！）</h3>
    <h3>3. 投稿</h3>
    <hr>
    <h3>3.5. 他の人のイメージを自分の辞書に加えよう！</h3>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Let's make your own dictionary!!</h1>
  </div>
</div>