<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a href="#">LOGO</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">HowTo</a></li>
          <li><a href="#">SignUp</a></li>
          <li><a href="#">SignIn</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>
</div>